# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Ignore plan files
*.tfplan

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore sensitive files
*.pem
*.key
